# 示例配置文件,请修改为合适的值
# wechat
wechat.app.id=
wechat.app.secret=
wechat.token=
wechat.key=

# thymeleaf
spring.thymeleaf.prefix=classpath:/templates/
spring.thymeleaf.suffix=.html
spring.thymeleaf.mode=HTML
spring.thymeleaf.encoding=UTF-8
spring.thymeleaf.cache=false

# log
debug=false
logging.file=/root/alioth/alioth.log
logging.level.root=INFO

# fish
fish.salt=
fish.db=/root/alioth/fish.db

# frp
frp.web.port=

# alioth
alioth.server.ip=
