html, body {
    font-size: 16px;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    font-size: .9rem;
    padding: 0;
    box-shadow: 0 .02rem .6rem 0 rgba(0, 0, 0, .15) !important;
}

.navbar .nav-item {
    margin-right: 5px;
}

.navbar .nav-search {
}

.navbar .nav-search input {
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-right: 2px;
}

.article-list {
    padding-left: 0;
    list-style: none
}

.fixed-right {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
}

.fixed-right .item {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem 1rem 0 1rem
}

.fixed-right .title {
    font-size: .9rem;
}

.fixed-right .wechat-img {
    width: 120px;
    height: 120px;
}

.fixed-right .small {
    font-size: .8rem;
    padding-left: 0;
    list-style: none
}

.footer {
    width: 100%;
    background-color: #f8f9fa !important;
    padding: 10px 0 10px 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.footer .alink {
    font-size: .625rem;
}

.github-corner {
}

.github-corner svg {
    width: 80px;
    height: 80px;
    fill: #FD6C6C;
    color: #fff;
    position: absolute;
    top: 0;
    border: 0;
    right: 0;
}

.github-corner .arm {
    transform-origin: 130px 106px
}

/*
 * love page
 */
#loveHeart {
    width: 670px;
    height: 625px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#garden {
    width: 100%;
    height: 100%
}

#elapseClock {
    text-align: right;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px
}

#words {
    width: 500px;
    font-size: 24px;
}

#messages {
    display: none
}

#elapseClock .digit {
    font-size: 36px
}

#loveu {
    padding: 5px;
    font-size: 22px;
    margin-top: 80px;
    margin-right: 120px;
    text-align: right;
    display: none
}

#loveu .signature {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic
}

/*
 * bootstrap pagination
 */
.pagination .page-input {
    float: left;
    width: 50px;
    margin-left: -1px;
}

.pagination .pagesize-fix-left {
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pagination .pagesize-fix-center {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.pagination .pagesize-fix-right {
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
