<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<footer th:fragment="footer" class="footer mt-auto py-3 bg-light shadow">
    <div class="container d-flex flex-row">
        <div class="flex-grow-1">
            <span class="mr-1 text-secondary">© Power By: </span>
            <a href="#" target="_blank" title="点击查看源码">MrZyzy</a>
        </div>
        <div class="text-secondary flex-grow-2">
            <a href="http://www.beian.miit.gov.cn/" target="_blank">© <span class="small">鲁ICP备20000111号</span></a>
        </div>
    </div>
</footer>
</html>
