<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh">
<header th:fragment="navbar">
    <div id="page-top"></div>
    <nav class="navbar navbar-expand-md navbar-light shadow bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbars">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-3 active">
                        <a class="nav-link" href="/">首页</a>
                    </li>
                    <li class="nav-item mr-3 ">
                        <a class="nav-link" href="/post/golang">Golang</a>
                    </li>
                    <li class="nav-item mr-3 ">
                        <a class="nav-link" href="/post/raspberry">树莓派</a>
                    </li>
                    <li class="nav-item mr-3 ">
                        <a class="nav-link" href="/post/compiler">编译原理</a>
                    </li>
                    <li class="nav-item mr-3 ">
                        <a class="nav-link" href="/about">关于我</a>
                    </li>
                </ul>
                <button class="btn">
                    <span class="iconfont icon-search text-primary"></span>
                </button>
                <span class="caret"></span>
            </div>
        </div>
    </nav>
</header>
</html>
