<!DOCTYPE html>
<html lang="zh" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: head"></head>
<body class="d-flex flex-column h-100">
<header th:replace="_header :: navbar"></header>
<main class="flex-shrink-0 my-4">
    <div class="container text-secondary">
        <div class="row">
            <div class="col-md-9">
                <div class="container p-3">
                    <ul class="list-unstyled article-list">
                        <li class="media mb-3" th:each="article : ${articleList}">
                            <div class="media-body">
                                <h1 class="mb-1">
                                    <a class="text-dark"
                                       th:href="@{'/blog/'+${article.getCatalogue()}+'/'+${article.getTitle()}}"
                                       th:text="${article.getTitle()}">Title</a>
                                </h1>
                                <small>
                                    <a class="text-secondary" href="#" th:text="${article.getTime()}"></a>
                                </small>
                                <p th:text="${article.getDescription()}"></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div th:replace="_right :: wechat"></div>
                <div th:replace="_right :: label"></div>
                <div th:replace="_right :: friend"></div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="_footer :: footer"></footer>
</body>
</html>
